.flip-card {
  background-color: transparent;
  width: 100px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 3px;
}

.flip-card.done {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flip-card--inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 10px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.flip-card.done .flip-card--inner,
.flip-card[data-active="on"] .flip-card--inner {
  transform: rotateY(180deg);
}

.flip-card--front, .flip-card--back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card--front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  color: black;
  border-radius: 3px;
}

.flip-card--back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  border-radius: 3px;
}

.flip-card--back > .flip-card--icon {
  font-size: 3rem;
}