@font-face {
  font-family: 'Monocraft';
  src: url('../fonts/Monocraft.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url('../images/background.png');
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 10px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.title {
  font-size: 3rem;
  font-family: 'Monocraft'; 
  margin-bottom: 32px;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 32px;
}

.current-score h1,
.highscore h1,
.attempts h1 {
  font-size: 1.5rem;
  font-family: 'Monocraft'; 
  margin-bottom: 5px;
}

.current-score h3,
.highscore h3,
.attempts h3 {
  font-size: 1.25rem;
  font-family: 'Monocraft'; 
  color: #AAA;
}

#cardLocations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 900px;
}