@font-face {
  font-family: 'Monocraft';
  src: url('../fonts/Monocraft.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #F2F2F2;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 10px;
}

.title {
  font-size: 3rem;
  font-family: 'Monocraft'; 
  margin-bottom: 32px;
}

#cardLocations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}